DEBUG=True
SECRET_KEY=your-secret-key-here
MONGODB_URI=mongodb+srv://carthagehannibalbarka_db_user:5A65wyZxYuDANKcZ@cluster0.jojbiqs.mongodb.net/
MONGODB_NAME=Mail
MONGODB_COLLECTION=db
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000
