# Hugging Face API Configuration
# Get your API key from: https://huggingface.co/settings/tokens
HUGGINGFACE_API_KEY=hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Next.js Configuration
NEXT_PUBLIC_APP_DOMAIN=https://app.sugesto.xyz
NEXT_PUBLIC_MAIN_DOMAIN=https://sugesto.xyz

# Google Analytics
NEXT_PUBLIC_GTM_ID=GTM-5R55G5B8
NEXT_PUBLIC_GA4_ID=G-C55W805RM1
